html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.6rem;
  margin: 20px;
  background-image: url("/logo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right top;
}
@media only screen and (max-width: 1555px)   {
  body {
    background-image: url("/small_logo.jpg");
  }
}
nav.navbar {
  margin: 0 auto !important;
  padding: 0 !important;
  height: 60px !important;
}
ul.nav.navbar-nav {
  width: 100%;
}
li:nth-last-child(1) {
  float: right !important;
  display: inline-block;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

tr.student {
    cursor:pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

tr.staff {
    cursor:pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

textarea {
  resize: none;
}

label {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none;
  user-select:none;
}

.container {
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 6px;
  margin: 0 auto;
  padding: 0 !important;
  border-top: 0px;
  min-height: 60px;
}

.btn-primary {
  margin-left: 6px;
}

.dropdown {
  margin-bottom: 6px !important;
}

#staffTable {
  margin-top:4px !important;
}

#usersTable {
  margin-top:4px !important;
}

#busesTable {
  margin-top:4px !important;
}
